* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts-start */
@font-face {
  font-family: Inter;
  src: url("../Fonts/Inter-VariableFont_slnt,wght.ttf");
}

/* fonts-end */
/* <!-- Section-with-header-content-start --> */
#headerAndContentSectionAbout {
  max-width: 100%;
  height: 100%;
  position: relative;
}

#headerAndContentContainerAbout {
  max-width: 75%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: 0.7fr;
}

.headerContentAbout {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
  padding-top: 39px;
}

.headerRightSideLinksAbout ul {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 55px;
}

.headerRightSideLinksAbout ul li a {
  text-decoration: none;
  color: #001c3d;
  font-family: inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.headerRightSideLinksAbout ul li i {
  font-size: 20px;
}

.headerRightSideLinksAbout ul li .down-icon {
  padding-left: 4px;
}

.headerRightSideLinksAbout .hamburgerIcon {
  display: none;
  color: white;
  margin-right: 5px;
  font-size: 22px;
}

/* responsive hamburger button start */
.headerRightSideLinksAbout {
  position: relative;
}

.hidden {
  display: none;
  flex-direction: row;
}

.dropdownList {
  position: absolute;
  right: 0;
  z-index: 4;
  margin-top: 10px;
}

.dropdownListContent {
  display: grid;
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  gap: 10px;
  background-color: #001c3d;
  width: 220px;
  border-radius: 7px;
  padding: 10px 0px;
}

.js-navbar-list li {
  padding: 7px;
  list-style: none;
  margin-right: 10px;
}

.js-navbar-list li a {
  text-decoration: none;
  color: var(--white-white, #ffffff);
  font-family: inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* responsive hamburger button end */

/* responsive globus button start */
.headerRightSideLinksAbout {
  position: relative;
}

.hidden {
  display: none;
  flex-direction: row;
}

.globusdownList {
  position: absolute;
  right: -8px;
  z-index: 4;
  top: 36px;
}

.languageListContentAbout {
  display: grid;
  grid-template-rows: 0.2fr 0.2fr;
  background-color: #001c3d;
  width: 47px;

  border-radius: 7px;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.js-language-listAbout li {
  list-style: none;
}

.js-language-listAbout li a {
  text-decoration: none;
  color: var(--white-white, #ffffff);
  font-family: inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* responsive globus button end */

/* <!-- Section-with-header-content-end --> */
/* <!-- About beso app section start --> */
#aboutBesoSectionContainer {
  max-width: 75%;
  margin: auto;
}

#aboutBesoSectionContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 100px;
}

.leftSideContent {
  gap: 42px;
}

.leftSideContent h1 {
  color: var(--black-black-blue-24, #001c3d);
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.leftSideContent p {
  color: #585858;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 126.316% */
  padding-top: 25px;
}

.rightSideContent {
  display: flex;
  justify-content: end;
}

.rightSideContent img {
  width: 75%;
}

/* <!-- About beso app section end --> */

/* Our Team Section Start */
#ourTeamCardSection {
  display: grid;
  grid-template-rows: 1fr;
  padding: 83px 0px 133px 0px;
}

#ourTeamCardSection {
  max-width: 75%;
  margin: auto;
}

.ourTeamCardMeetOurTeamContent {
  max-width: 80%;
  margin: auto;
}

.ourTeamCardMeetOurTeamContent h1 {
  color: var(--gray-gray-1000, #0a0a0a);
  text-align: center;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 32px;
}

.ourTeamCardMeetOurTeamContent p {
  color: var(--gray-gray-400, #909499);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.ourTeamCardContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  margin-top: 100px;
}

.ourTeamCardContent .card {
  border-radius: 6px;
  border: 1px solid #f0f0f0;
  background: var(--white-white, #fff);
}

.ourTeamCardContent .card img {
  width: 100%;
  padding-bottom: 24px;
}

.card-body h4 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding-bottom: 8px;
}

.card-body .card-text {
  text-align: center;
  /* 187.5% */
  padding-bottom: 32px;
  color: var(--gray-gray-300, #aaaeb3);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-body .card-second-text {
  color: var(--gray-gray-600, #5d5f61);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

/* Our Team Section end */

/* responsive all content start */
@media only screen and (max-width: 1272px) {
  .rightSideContent img {
    width: 100%;
  }
}

@media only screen and (max-width: 1164px) {
  .ourTeamCardContent .card img {
    width: 100%;
    padding-bottom: 24px;
  }

  .rightSideContent img {
    width: 100%;
  }

  #aboutBesoSectionContent {
    gap: 75px;
  }
}

@media only screen and (max-width: 1000px) {
  .rightSideContent img {
    width: 100%;
  }

  #aboutBesoSectionContent {
    gap: 45px;
  }
}

@media only screen and (max-width: 904px) {
  .headerRightSideLinksAbout ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 20px;
  }
}

@media only screen and (max-width: 840px) {
  .ourTeamCardContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 770px) {
  .ourTeamCardMeetOurTeamContent {
    max-width: 100%;
    margin: auto;
  }

  .headerRightSideLinksAbout ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 10px;
  }

  #aboutBesoSectionContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    align-items: center;
    margin-top: 95px;
  }

  .leftSideContent p {
    color: #585858;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding-bottom: 43px;
  }
}

@media only screen and (max-width: 730px) {
  .headerRightSideLinksAbout ul li {
    display: none;
  }

  .headerRightSideLinksAbout .hamburgerIcon {
    display: block;
  }
}

@media only screen and (max-width: 699px) {
  .headerRightSideLinksAbout ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 7px;
  }
}

@media only screen and (max-width: 620px) {
  .ourTeamCardMeetOurTeamContent h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 490px) {
  .ourTeamCardContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 100px;
  }

  .card-body .card-second-text {
    font-size: 23px;
  }
}

@media only screen and (max-width: 420px) {
  .ourTeamCardMeetOurTeamContent h1 {
    font-size: 28px;
  }

  /* text font size */

  .leftSideContent h1 {
    font-size: 36px;
  }

  .leftSideContent p {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 0px;
  }

  .ourTeamCardMeetOurTeamContent p {
    font-size: 16px;
    line-height: 24px;
  }

  .card-body h4 {
    font-size: 24px;
  }

  .card-body .card-text {
    font-size: 18px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 220px) {
}

/* responsive all content start */
